<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Site Not Found</h3>
      </div>
      <div class="panel-body">
        <h2>Site Lookup Failed</h2>
        <p>The requested Site Item does not exist. This can happen if the Site Item was manually deleted.
          A message has been sent to the Hub team, and this domain will be removed.</p>
      </div>
    </div>
  </div>
</div>
